<?xml version="1.0" encoding="UTF-8"?>
<PreRenderSetting  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <CrawlerUserAgents>188bot,188crawler</CrawlerUserAgents>
  <DomainSettings>
    <DomainSetting Domain="default" AccessPath="C:\AgileBet\Seo\snapshot" ByPassPaths="/"/>
    <DomainSetting Domain="localhost:31342" AccessPath="C:\AgileBet\Seo\snapshot" ByPassPaths="/,/Home/About"/>
  </DomainSettings>
  <MailNotifySetting Enable="true" MailServer="smtp.xuenn.com" Port="25" Recipients="andy.chen@xuenn.com,joseph.tsai@xuenn.com" Sender="andy.chen@xuenn.com"/>
</PreRenderSetting>
