<?xml version="1.0" encoding="UTF-8"?>
<PreRenderSetting  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <CrawlerUserAgents>188bot,188crawler,</CrawlerUserAgents>
  <DomainSettings>
    <DomainSetting Domain="default" AccessPath="C:/AgileBet/Seo/SeoPrerender/" ByPassPath="/"/>
    <DomainSetting Domain="www.188bet.co.uk" AccessPath="C:/AgileBet/Seo/SeoPrerender/" ByPassPath="/"/>
  </DomainSettings>
  <MailNotifySetting Enable="true" MailServer="smtp.xuenn.com" Port="25" Recipients="andy.chen@xuenn.com,kid.liu@xuenn.com,joseph.tsai@xuenn.com" Sender="andy.chen@xuenn.com"/>
</PreRenderSetting>
